/*fuente*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --colorfondo: #fdf6e3; /* Fondo amarillo claro */
    --colorborde: #d9bfa2; /* Borde gris claro */
    --amarilloOscuro: #b58900; /* Amarillo oscuro */
    --gris: #657b83; /* Gris intermedio */
    --blanco: #ffffff;
    --RGBA: rgba(0,0,0,0.08);
    --amarillo-medio: #fdd835; /* Amarillo medio */
    --gray: #343A40; /* Gris oscuro */
    --colorrespuesta: #eee8d5; /* Amarillo muy claro */
    --gris-claro: #93a1a1; /* Gris claro */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--colorfondo);
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

::selection {
    background: var(--amarilloOscuro);
    color: var(--blanco);
}

body {
    height: 100%;
}

img {
    max-width: 100%;
}

/* encabezado */
header {
    position: absolute;
    margin: 40px 0px 0px 40px;
}

header .logo_alura {
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}

/* Cuerpo */
main {
    display: flex;
    flex-direction: row;
}

.encriptador {
    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;
}

.encriptar {
    width: 660px;
    height: 280px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: 1px solid var(--colorborde);
    border-radius: 16px;
    resize: none;
}

.encriptar::placeholder {
    color: var(--amarilloOscuro);
}

.encriptador_aviso {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 500px;
}

.texto_exclamacion {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--gris);
}

.encriptador_contenedor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
}

.boton_encriptar {
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--blanco);
    background-image: linear-gradient(
        150deg,
        #fdd835,
        #fbc02d,
        #f9a825
    );
    border: 1px solid var(--amarilloOscuro);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px 5px var(--RGBA);
    transition: .2s;
}

.boton_encriptar:active {
    box-shadow: inset 2px 2px 4px var(--colorfondo),
    inset -3px -4px 8px var(--amarilloOscuro);
    color: var(--colorfondo);
}

.boton_desencriptar {
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--amarilloOscuro);
    background-image: linear-gradient(
        150deg,
        #eee8d5,
        #d3c1a7,
        #b9a992
    );
    border: 1px solid var(--amarilloOscuro);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px 5px var(--RGBA);
}

.boton_copiar:active,
.boton_desencriptar:active {
    box-shadow: inset 2px 2px 4px var(--amarilloOscuro),
    inset -3px -4px 8px var(--colorfondo);
    color: var(--amarillo-medio);
}

.respuesta {
    width: 270px;
    height: 580px;
    background: var(--colorrespuesta);
    box-shadow: 10px 24px 32px -8px var(--gray);
    position: relative;
    margin-top: 40px;
    border-radius: 32px;
    text-align: center;
}

.respuesta_contenedor {
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--colorrespuesta);
}

.imagen_muñeco {
    background: var(--colorrespuesta);
    border-radius: 32px;
}

.texto_uno {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--gray);
    background: var(--colorrespuesta);
}

.texto_dos {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align:center;
    color: var(--gris-claro);
    background: var(--colorrespuesta);
}

.evaluar {
    width: 100%;
    height: 485px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--gris-claro);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none; 
}

.evaluar:focus {
    outline: none;
}

.boton_copiar {
    width: 224px;
    height: 67px;
    margin: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    padding: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background-image: linear-gradient(
        150deg,
        #eee8d5,
        #fdf6e3,
        #b9a992
    );
    border: 1px solid var(--amarilloOscuro);
    border-radius: 20px;
    cursor: pointer;
}

.boton_encriptar:hover,
.boton_desencriptar:hover,
.boton_copiar:hover {
    transform: scale(0.98);
}

footer {
    margin-top: 15px;
    padding: 10px;
    border-top: 1px solid var(--colorfondo);
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--gray);
}

.linkedin:hover,
.github:hover {
    color: var(--colorfondo);
    opacity: 0.8;
}

@media (max-width: 1250px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador {
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador_contenedor {
        display: flex;
        align-items: center;
        position: inherit;
    }

    .encriptador_aviso {
        position: inherit;
        margin: 15px;
    }   
    
    .respuesta {
        width: 665px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .respuesta_contenedor {
        display: block;
        justify-content: center;
        align-items: center;
        width: 80%;
        position: absolute;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }

    .imagen_muñeco {
        display:flex;
        width: 35%;
        height: 35%;
        margin: 0 0 0 150px;
    }
    
}